[submodule ".registry"]
	path = .registry
	url = https://github.com/igraph/igraph.r-universe.dev
	branch = HEAD
[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/rigraph
[submodule "igraphdata"]
	path = igraphdata
	url = https://github.com/igraph/igraphdata
